<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>武器录入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site CSS -->
    <link href="../css/main.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/site.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/insertPage.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
   <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
 <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed"
        href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.28/dist/ico/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.28/dist/ico/favicon.ico">


    <!-- 引入发送数据代码 -->
    <script src="../js/sendData.js"></script>

</head>

<body>
    <!-- 验证登录 -->
    <script>
        if (sessionStorage.getItem('user') == null) {
            // alert('请先登录')
            // window.location.href = '/loginpage'
            let turn = confirm('请先登录')
            if (turn) {
                window.location.href = '/loginpage'
            } else {
                // window.location.href = '/'
                window.close()
            }
        }
    </script>
    <!-- 头 -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="/" onclick="">首页</a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">

                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="" onclick="">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 具体录入 -->

    <div style="padding: 1.5rem; color: #bd2d30;">
        <!-- 说明信息 -->
        <p>武器价格按照金币为单位计算，10银币=1金币。伤害以“xdx”的格式，比如匕首伤害(S)就是1d3。
            重击如果只有倍数就只填倍数，如果有范围则写明，如19-20/2。
        </p>
        <b>例子：匕首，1金币，1d3，1d4，19-20/2，10尺，1磅，穿刺或挥砍</b>
    </div>

    <!-- 武器:
    武器名称、价格、伤害值(S)、伤害值(M)、重击、射程增量、重量、伤害类别-->
    <div class="details" style="padding-left: 4rem; float: left;">
        <div>
            <dl>武器名称
                <dt>
                    <input type="text" id="tr0" name="name">
                </dt>
            </dl>
            <dl>价格
                <dt>
                    <input type="text" id="tr1" name="price" onchange="if(/\D/.test(this.value)){alert('价格格式不规范');this.value=''}">金币
                </dt>
            </dl>
            <dl>伤害值(S)
                <dt>
                    <input type="text" id="tr2" name="damageS"
                        onchange="if(/\dd\d/.test(this.value) - 1){alert('伤害值(S)格式不规范');this.value='';}">
                </dt>
            </dl>
            <dl>伤害值(M)
                <dt>
                    <input type="text" id="tr3" name="damageM"
                        onchange="if(/\dd\d/.test(this.value) - 1){alert('伤害值(M)格式不规范');this.value='';}">
                </dt>
            </dl>
            <dl>重击
                <dt>
                    <input type="text" id="tr4" name="CH" placeholder="无校验，一定按照提示">
                </dt>
            </dl>
            <dl>射程增量
                <dt>
                    <input type="text" id="tr5" name="shootRange"
                        onchange="if(/\D/.test(this.value)){alert('射程增量格式不规范');this.value='';}">尺
                </dt>
            </dl>
            <dl>重量
                <dt>
                    <input type="text" id="tr6" name="weight"
                        onchange="if(/\D/.test(this.value)){alert('重量格式不规范');this.value='';}">磅
                </dt>
            </dl>
            <dl>伤害类别
                <dt>
                    <input type="text" id="tr7" name="damageType">
                </dt>
            </dl>
        </div>
    </div>
    <button style="margin-left: 2rem" onclick="sendmsg(8, 'weapon')">录入</button>
    <div id="showMe">
        <p>这里展示数据</p>
    </div>


</body>

</html>