<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>暂定：数据库录入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site CSS -->
  <link href="./src/main.min.css" rel="stylesheet">
  <link href="./src/font-awesome.min.css" rel="stylesheet">
  <link href="./src/site.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
<![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed"
    href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.28/dist/ico/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@0.0.28/dist/ico/favicon.ico">

</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-sm" href=""
          onclick="">Bootstrap中文网</a>
      </div>
      <div class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">

          <li><a href="" target="_blank"
              onclick="">Bootstrap3中文文档</a>
          </li>
          <li><a href="" target="_blank"
              onclick="">Bootstrap4中文文档</a>
          </li>
          <li><a href="" target="_blank"
              onclick="">Sass
              教程</a></li>
          <li><a href="" target="_blank"
              onclick="">Less
              教程</a></li>
          <li><a href="" target="_blank"
              onclick="">jQuery
              API</a></li>
          <li><a class="reddot" href="" target="_blank"
              onclick="">网站实例</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm">
          <li><a href=""
              onclick="">关于</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron masthead">
    <div class="container">
      <h1>Bootstrap</h1>
      <h2>简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。</h2>
      <p class="masthead-button-links">
        <a class="btn btn-lg btn-primary btn-shadow" href="" target="_blank" role="button"
          onclick="">Bootstrap3中文文档(v3.3.7)</a>
      </p>
      <ul class="masthead-links">
        <li>
          <a href="" target="_blank" role="button"
            onclick="">Bootstrap2中文文档(v2.3.2)</a>
        </li>
      </ul>
    </div>
  </div>